#skills {
  .skill-item {
    margin-bottom: 3.5em;
    .skill-label {
      color: #CCCCCC;
      font-family: 'Open Sans', sans-serif;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;
      // text-transform: uppercase;
    }
    .skill-meter {
      position: relative;
      background-color: #CCCCCC;
      height: 0.834em;
      width: 100%;
      .skill-meter-active {
        display: block;
        height: 0.834em;
        width: 0%;
        background-color: #5B32C1;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #skills {
    .skill-item {
      margin-bottom: 2.5em;
      .skill-label {
        margin-bottom: 0.5em;
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
  }
}